<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>substitution cipher tool</title>
</head>
<style>

    .detext {
        width: 40px;
        height: 40px;
        font-size: x-large;
        text-align: center;
        margin: 4px;
        border-width: 0 0 3px 0;
    }

    .rawtext {
        width: 30px;
        height: 30px;
        text-align: center;
        margin: 4px;
    }

    /* Style to create a horizontal list */
    ul.horizontal-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /*display: flex;*/
        flex-wrap: wrap;
        display: inline-block;
    }

    ul.word {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /*display: flex;*/
        display: inline-block;
    }

    ul.horizontal-list li {
        text-align: center;
        vertical-align: center;
        display: inline-block;
    }

</style>
<body>
    <textarea id="ciphertext" oninput="genCipher()" style="text-transform: lowercase"></textarea><br>
    <ul class="horizontal-list" id="cipher-box"></ul>
    <button onclick="addChar()">+</button>
</body>
</html>
<script>

    const EN = 0
    const DE = 1

    const cipherTextBox = document.getElementById("ciphertext")
    const cipher_box = document.getElementById("cipher-box")

    let cipher = []
    let keys = {}

    function genCipher() {
        cipher = []
        cipherTextBox.value = cipherTextBox.value.toLowerCase()
        for (let i in cipherTextBox.value) {
            cipher.push([cipherTextBox.value[i], ""])
            keys[cipherTextBox.value[i]] = (cipherTextBox.value[i] in keys ? keys[cipherTextBox.value[i]] : "")
        }
        showCipher()
        updateCipher()
    }

    function createItem(i, word) {
        const item = document.createElement("li")
        item.id = i.toString()

        const detext = document.createElement("input")
        detext.type = "text"
        detext.className = "detext"
        detext.autocomplete = "off"
        detext.id = "de" + i.toString()
        detext.maxLength = 2
        detext.addEventListener("input", updateValue)
        detext.value = cipher[i][DE]


        const rawtext = document.createElement("input")
        rawtext.type = "text"
        rawtext.className = "rawtext"
        rawtext.autocomplete = "off"
        rawtext.id = "en" + i.toString()
        rawtext.value = cipher[i][EN]
        rawtext.addEventListener("input", updateKey)

        if ((!cipher[i][EN].match(/[a-z]/i)) && cipher[i][EN] !== "") {
            detext.disabled = true
            detext.value = cipher[i][EN]

            if (cipher[i][EN] === "\n") {
                rawtext.hidden = true
                detext.hidden = true
            }
        }

        item.appendChild(detext)
        item.appendChild(document.createElement("br"))
        item.appendChild(rawtext)
        word.appendChild(item)

    }

    function showCipher() {
        cipher_box.innerHTML = ""
        let item = document.createElement("li")
        item.style.textAlign = "left"
        let word = document.createElement("ul")
        word.className = "word"
        item.appendChild(word)
        cipher_box.appendChild(item)

        for (let i=0; i < cipher.length; i++) {
            createItem(i, word)

            if (cipher[i][EN] === "\n") {
                cipher_box.appendChild(document.createElement("br"))
            }

            if ([" ","\n"].includes(cipher[i][EN]))
            {
                item = document.createElement("li")
                item.style.textAlign = "left"
                word = document.createElement("ul")
                word.className = "word"
                item.appendChild(word)
                cipher_box.appendChild(item)
            }
        }
    }

    function addChar() {
        cipher.push(["",""])
        updateCipher()
    }

    function updateCipher() {
        let enCL = []

        for (let i in cipher) {
            if (cipher[i][EN] !== "") {
                enCL.push(cipher[i][EN])
                cipher[i][DE] = (cipher[i][EN] in keys ? keys[cipher[i][EN]] : "")
            }
        }

        // cleanup keys
        const keysKeys = Object.keys(keys)
        for (const i in keysKeys) {
            if (!enCL.includes(keysKeys[i])) {
                delete keys[keysKeys[i]]
            }
        }

        showCipher()
    }

    function updateValue(event) {
        const i = parseInt(event.target.id.slice(2))
        const enC = document.getElementById("en"+i)
        const deC = event.target

        const value = (event.data !== null ? event.data : "")

        if (enC.value !== "") {
            keys[enC.value] = value
        }

        cipher[parseInt(deC.id.slice(2))][DE] = value
        updateCipher()

        // focus
        let to_focus
        if (value === "") {
            if (i === 0)
            {
                to_focus = i
            } else {
                to_focus = i - 1
            }
        } else {
            if (i === cipher.length-1) {
                to_focus = i
            } else {
                to_focus = i + 1
            }
        }

        if (document.getElementById("de" + to_focus).disabled)
        {
            to_focus++
        }

        document.getElementById("de" + to_focus).focus()

    }

    function updateKey(event) {
        const i = parseInt(event.target.id.slice(2))
        const value = event.target.value

        if (value === "")
        {
            cipher[i] = ["", ""]

        } else {

            if (!value in keys) {
                keys[value] = ""
            }
            cipher[i] = [value, keys[value]]
        }

        updateCipher()

        // refocus
        document.getElementById("en" + i).focus()

    }

</script>